VITE_SUPABASE_URL=https://jmrfwwcfljmagnwqearg.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImptcmZ3d2NmbGptYWdud3FlYXJnIiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODA5NDQ4OTgsImV4cCI6MjA5NjUyMDg5OH0.GGe61ZddVEw0d0sH0j1lgus6ZP3Cn8xrPzohAbVba1s
